@inherits LayoutComponentBase

<PageTitle>Dino App - By Andrew Durnall</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://andrewdurnall-7130f.web.app/" target="_blank">Andrew Durnall - Portfolio</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
