@page "/allDinos"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory

<h1>All the Dino's!</h1>
<button class="btn btn-primary" style="margin-bottom:10px" @onclick="GetApiData">Get ALL DINO'S'</button>

@if (getDataError || apiData is null)
{
    <p>Press the Button......</p>
}
else
{
    <ul>
        @foreach (var data in apiData)
        {
            <li>
                <strong>Name:</strong> @data.Name<br />
                <strong>Description:</strong> @data.Description<br />
            </li>
        }
    </ul>
}

@code {
    private List<YourApiData> apiData;
    private bool getDataError;

    private async Task GetApiData()
    {
        try
        {
            var apiUrl = "https://dinosaur-facts-api.shultzlab.com/dinosaurs";
            var client = ClientFactory.CreateClient();

            var response = await client.GetStreamAsync(apiUrl);
            apiData = await JsonSerializer.DeserializeAsync<List<YourApiData>>(response);
            getDataError = false;
        }
        catch (Exception)
        {
            getDataError = true;
        }
    }

    public class YourApiData
    {
        [JsonPropertyName("Name")]
        public string Name { get; set; }

        [JsonPropertyName("Description")]
        public string Description { get; set; }
    }
}
