@page "/"

<PageTitle>Home</PageTitle>

<h1>Home Page</h1>

<p>Welcome to the page, use the nav to get a random Dinosaur, or view lots of dinosaurs!</p>
<img src="dino.jpg" width="600px" />
<p>Dinosaur facts taken from Dinosaur API (https://dinosaur-facts-api.shultzlab.com/)</p>